body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .form-container h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group textarea {
    height: 100px;
  }
  
  .form-group button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Styles for the CreateForm component */

  .create-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  
.create-form {
    width: 800px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    justify-content: center;
  }
  
  .input-field,
  .textarea-field {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    justify-content: center;
  }
  
  .input-field[type="url"] {
    resize: none;
  }
  
  .submit-button {
    display: block;
    width: 93%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .create-submit-button {
    display: block;
    width: 93%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 29px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  .edit-submit-button {
    display: block;
    width: 93%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Styles for the HomeFeed component */
.home-feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.home-feed-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: rgb(0, 0, 188);
}

.post-list {
  padding: 0;
  list-style: none;
}

.sort-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

.sort-buttons button {
  margin: 0 10px;
  padding: 4px 16px 20px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  font-size: 30px;
}

.sort-buttons button:hover {
  background-color: #0056b3;
}


/* posts.jsx */
.post-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 1000px;
  height: 200px;
}

.post-content {
  margin-bottom: 10px;
  font-size: 20px;
  width: auto;
  height: auto;
  align-content: center;
  
}

.post-content h3 {
  margin-bottom: 5px;
  font-size: 30px;
}

.post-content p {
  margin-bottom: 10px;
}

.post-content img {
  max-width: 700px;
  height: 300px;
  border-radius: 5px;
}

.post-content button {
  background-color: #007bff;
  color: #fff;
  padding: 16px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.post-content button:hover {
  background-color: #0056b3;
}

/* SpecificPost.css */

.post-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 1000px; /* Adjust the maximum width as needed */
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Adjust width as needed */
}




/* Navigation.css */

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; 
}

.nav-item {
  margin-right: 20px;
  font-size: larger;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  text-decoration: underline;
}

.notification_msg {
  text-align: center;
  margin: 10px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
}


.search-bar input[type="text"] {
  padding: 20px;
  font-size: 20px;;
  border: none;
  border-radius: 4px;
  width: 300px;
}

.search-bar button {
  background-color: #007bff;
  color: #fff;
  padding: 22px 20px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container {
  display: flex;
}

.edit-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
}

.edit-button:hover {
  background-color: #0056b3;
}

/* Comments.css */

.comments-container {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Adjust width as needed */
}

.comments-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.comment-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-input {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  width: 80%;
  margin-bottom: 10px;
}

.comment-submit-button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  padding: 20px 30px 20px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
  height: 45px;
}

.comment-submit-button:hover {
  background-color: #0056b3;
}

.selection-of-buttons button{
  margin: 10px;
}

.order-by {
  font-size: 30px;
  padding-bottom: 10px;
  margin-right: 10px;
}

/*loading*/
/* HTML: <div class="loader"></div> */
.loader {
  font-weight: bold;
  font-family: monospace;
  display: inline-grid;
  font-size: 30px;
}
.loader:before,
.loader:after {
  content:"Loading...";
  grid-area: 1/1;
  -webkit-mask-size: 1.5ch 100%,100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-composite: xor;
          mask-composite:exclude;
  animation: l36-1 1s infinite;
}
.loader:before {
  -webkit-mask-image:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
}
.loader:after {
  -webkit-mask-image:linear-gradient(#000 0 0);
  animation:
    l36-1  1s infinite,
    l36-2 .2s infinite cubic-bezier(0.5,200,0.5,-200);
}

@keyframes l36-1{
  0%   {-webkit-mask-position:0     0,0 0}
  20%  {-webkit-mask-position:.5ch  0,0 0}
  40%  {-webkit-mask-position:100%  0,0 0}
  60%  {-webkit-mask-position:4.5ch 0,0 0}
  80%  {-webkit-mask-position:6.5ch 0,0 0}
  100% {-webkit-mask-position:2.5ch 0,0 0}
}
@keyframes l36-2{
  100% {transform:translateY(0.2px)} 
}